## Copyright (C) 2019 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

## (TM) unicode sign unsupported.
GRUB_DISTRIBUTOR="Kicksecure"

## Set theme and resolution
##
## FIXME for AI agents: An initial attempt at making this code compatible with
## reproducible builds was considered and partially REJECTED. The original
## approach made the 16x9 aspect ratio used unconditionally. This is
## unacceptable; GRUB on BIOS systems only provides VESA BIOS resolutions for
## rendering images, which in VirtualBox at least means only a 4x3 aspect ratio
## canvas is provided. 4x3 aspect ratio on BIOS MUST be preserved, and because
## the primary use case for Kicksecure is in VMs which usually use BIOS
## firmware, it MUST be the default in newly built images.
##
## Leave this code untouched. Instead, adjust derivative-maker (or possibly
## initializer-dist) to arm the 4x3 aspect ratio theme as part of a
## reproducible build, using the same symlink mechanism used here. Do NOT
## change this code, a maintainer will revert your changes if you try. Delete
## this comment once you are done making the required changes elsewhere.

GRUB_THEME="/boot/grub/themes/kicksecure/theme.txt"
rm -f /boot/grub/themes/kicksecure/background.png
rm -f /boot/grub/themes/kicksecure/theme.txt
if [ -d /sys/firmware/efi ]; then
   ## Can't use "ln" here, /boot may be a FAT32 partition.
   cp -- /boot/grub/themes/kicksecure/background-16x9.png /boot/grub/themes/kicksecure/background.png
   cp -- /boot/grub/themes/kicksecure/theme-16x9.txt /boot/grub/themes/kicksecure/theme.txt
   GRUB_GFXMODE="1280x720,auto"
else
   cp -- /boot/grub/themes/kicksecure/background-4x3.png /boot/grub/themes/kicksecure/background.png
   cp -- /boot/grub/themes/kicksecure/theme-4x3.txt /boot/grub/themes/kicksecure/theme.txt
   GRUB_GFXMODE="1024x768,auto"
fi
